.app-body {
  margin-top: 50px;
}

.nav-style {
  background-color: #1a1b22;
}

.nav-style a:hover {
  color: #c9c9c9;
}

.nav-link.active {
  color: #DF55E9 !important;
}

.dropdown-links a:hover {
  color: #252830;
}